@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F1F1;
}

h1 { 
    text-align: center;
    font-family: "Francois One";
    color: #F6F1F1;
    font-size: 40px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.content .blog-image {
    width: 80%;
    max-width: 900px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.content h2 {
    text-align: center;
    font-family: 'Francois One';
    color: #3c3c3c;
    font-size: 26px;
}

.content p {
    text-align: center;
    font-family: 'Roboto';
    color: #6c6c6c;
    width: 90%;
    max-width: 300px;
    margin: 50px auto;
}