.container-coment {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px 0;
}

.coment {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coment p {
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.coment h1 {
    font-size: 20px;
}
